<div class="center-block" ng-controller='genreDetailCtrl'>
  
  <div class="row container">
    <div class="col-md-5" ng-repeat="bookImage in books.genreImage">
      <img class='img-responsive' ng-src="{{bookImage}}">
    </div>
    <div class="col-md-7">
      <h2 class="text-center">{{books.genre}}</h2>
      <p>{{books.genreDetail}}</p>
    </div>
  </div>

  <div class="col-md-5 container" ng-controller='authorInGenreCtrl'>
    <h3>Authors:</h3>
     <div class="h4 lead col-xs-offset-1" ng-repeat="author in authorByGenre">
        <a href="#/authorsBio/{{author.authorId}}">
          {{author.author}} 
        </a>
     </div>
  </div>

  <div class="col-md-7 container" ng-controller="booksByGenreCtrl">
    <ul>
      <h3>Books:</h3>
      <li class="" ng-repeat="book in booksByGenre"><p class="h4 lead col-xs-offset-1"> <a class="btn-link glyphicon glyphicon-search" href="#/booksBio/{{book.id}}"></a> {{book.title}}</p></li>
    </ul>
  </div>

</div>
