<div class="container" ng-controller='authorsByGenreCtrl'>
  
  <!-- Search bar -->
  <div>
    <p>
      <h1>Find what you need</h1>
    </p>
    <button class="btn btn-primary btn-lg btn-block" ng-click="toggle()">
      Search
    </button>
    <p ng-hide='mySearch' align="center">
      Search a book you want: <input type="text" class="form-control text-center" placeholder='Enter book name' align="text-center">
    </p>
  </div>

  <table class="table table-striped table-hover">
      <thead><tr>
      <th>Genres</th>
      <th>Titles</th>
      <th>Authors</th>
    </tr></thead>
    <tbody>
      <tr ng-repeat="genre in genres">
       <td>{{ genre }} <a class="btn-link glyphicon glyphicon-search" href="#/genres/{{genreId}}"></a></td>
       <td > </td>
       <td>
          <!-- Single button dropdown-->
         <div class="btn-group" dropdown>
            <button dropdown-toggle type="button" class="btn btn-default dropdown-toggle" data-toggle="ropdown" aria-expanded="false">
              Authors 
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="author in authorsByGenre(genre)"><a href="#/authorsBio/{{book.authorId}}">{{author}}</a></li>
            </ul>
         </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>